<% if trainer_signed_in? && @kudomon.any? %>
<h1>Welcome Trainer!</h1>
<h3>Select the location you wish to travel to below</h3>
<%= form_tag 'kudomon/location' do %>
  <%= label_tag :location %>
  <%= select_tag :location, options_for_select(1..6) %>
  <%= submit_tag 'Go to location!' %>
  <p>Or view your captured Kudomon below</p>
  
<% end %>
<% else %>
  <h1>Welcome to Kudomon Go!</h1>
  <h2>You must sign in to begin catching Kudomon</h2>
<% end %>
