Welcome to Kudomon!

<% if @kudomon.any? %>
<ul> All Kudomon
  <% @kudomon.each do |kudomon| %>
    <li> <%= kudomon.species %> </li>
  <% end %>
</ul>
<% else %>
  No Kudomon in environment
<% end %>
